@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*{
    font-family: "Roboto", sans-serif;
}
.btn-list a{
    color:unset !important;
    text-decoration:none !important;
}

#nav-list{display:none}
#nav-list > *{
    background-color:rgb(33,37,41);
    border-top:1px solid gray;
}
#nav-list .btn-list:active{
    background-color:rgb(70,70,70)
}
#search{
    width:100%;
    border:1px solid gray;
    outline:none;
    padding:3px 5px;
}
#checkbox{
    align-self:center;
    transform:scale(1.5);
}

.fa-list::before{ font-size:1.5em }

#search-list-parent{
    width:100%;
    position:absolute;
    top:100%;
    left:0;

    display:none;
    
    padding-left:inherit;
    padding-right:inherit;

    padding-top:inherit;
    padding-bottom:inherit;
}
#search-list{
    border:1px solid gray;
    border-top:none;
    background-color:white;
}
#search-list div{
    padding:3px;
    font-size:15px;
    color:black;
}